<div class="main">
  <div class="user">
    <div class="notification">
      <ion-icon name="notifications-outline"></ion-icon>
      <span class="notification__circle circle-active"></span>
    </div>
    <div class="user__info">
      <div class="circle-avatar">
        <img src="./assets/images/illustration.jpg" alt=""/>
      </div>
      <div class="user-name">Carlos B.</div>
    </div>
    <div class="dropdown">
      <ion-icon name="chevron-down-outline"></ion-icon> 
    </div>
  </div>
  <nav class="navigation">
    <div class="logo">
      <h3>Site logo.</h3>
    </div>
    <ul class="nav">
      <li class="nav__item" *ngFor="let menu of menuList">
        <ion-icon name="{{ menu.icon }}"></ion-icon> 
        <a class="nav__link">{{ menu.name }}</a>
      </li>
    </ul>
    <div class="ad">
      <h2 class="heading-2"><span>Upgrade to </span><span>PRO account</span></h2>
      <ion-icon name="navigate-outline"></ion-icon>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <div class="detail">
    <router-outlet name="d"></router-outlet>
  </div>
</div>